.background .bubble#wayra{
	width: 5.7%;
	height: 1.9%;
	top: 55.6%;
	left: 35.4%;
}

.background .bubble#inflection{
	height: 1.9%;
	left: 87.4%;
	top: 53.6%;
	width: 8%;
}

.background .bubble#five_hundred_startups {
	width: 5.7%;
	height: 1.9%;
	top: 50.6%;
	left: 35.4%;
}

